[submodule "node_modules/.cache/gh-pages/https!github.com!careerday23!careerday.git"]
    path = node_modules/.cache/gh-pages/https!github.com!careerday23!careerday.git
    url = https://github.com/careerday23/careerday.git
